<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Editar')}"></head>
<body>
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"></div>

<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Editar bono</h3>
    </div>
    <div class="container">
        <form action="/editar" th:object="${bono}" method="post">
            <input type="hidden" th:field="*{idBono}"/>
            <div class="mb-3">
                <label for="servicio" class="form-label">Servicio</label>
                <input type="text" class="form-control" id="servicio" name="servicio" required="true" th:field="*{servicio}">
<!--                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label for="comprador" class="form-label">Comprador</label>
                <input type="text" class="form-control" id="comprador" name="comprador" required="true" th:field="*{comprador}">
            </div>
            <div class="mb-3">
                <label for="beneficiario" class="form-label">Beneficiario</label>
                <input type="text" class="form-control" id="beneficiario" name="beneficiario" required="true" th:field="*{beneficiario}">
            </div>
            <div class="mb-3">
                <label for="fechaCompra" class="form-label">Fecha de compra</label>
                <input type="date" class="form-control" id="fechaCompra" name="fechaCompra" th:value="${bono.fechaCompra}">
            </div>
            <div class="mb-3">
                <label for="fechaVencimiento" class="form-label">Fecha de vencimiento</label>
                <input type="date" class="form-control" id="fechaVencimiento" name="fechaVencimiento" th:value="${bono.fechaVencimiento}">
            </div>
            <div class="mb-3">
                <label for="estatus" class="form-label">Estado</label>
                <select class="form-select" id="estatus" th:field="*{estatus}">
                    <option th:value="ACTIVO" th:text="'ACTIVO'">ACTIVO</option>
                    <option th:value="USADO" th:text="'USADO'">USADO</option>
                    <option th:value="VENCIDO" th:text="'VENCIDO'">VENCIDO</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="monto" class="form-label">Monto (€)</label>
                <input type="number" class="form-control" id="monto" name="monto" placeholder="0.00" step="0.01" min="0" required="true" th:field="*{monto}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm me-3">Editar</button>
                <a href="/" class="btn btn-danger btn-sm">Volver</a>
            </div>

<!--            <div class="mb-3 form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->

        </form>
    </div>
</div>

<div th:replace="~{fragmentos/footer::footer}"></div>
</body>
</html>